<h1>Editing Lp</h1>
<hr/>

<%= render 'form', lp: @lp %>

<div class="row">
  <div class="col-sm-1">
    <%= button_to("Show", @lp, method: :get, :class => "btn btn-default") %>
  </div>
  <div class="col-sm-1">
    <%= button_to("Back", lps_path, method: :get, :class => "btn btn-success") %>
  </div>
</div>


